<p id="notice"><%= notice %></p>
  <div class="show">
    <p class="lead">Workout: "<%= @workout.title %>"</p>
    <p class="lead"><%= @workout.date %></p>

    <!-- <% @workout.exercises.each do |e| %>
      <%= render 'exercises/exercise', exercise: e %>%
    <% end %> -->

    <!-- <% @workout.exercises.each do |e| %>
      <%= render e %>
    <% end %> -->

    <%= render @workout.exercises %>

  <%= link_to 'Edit', edit_workout_path(@workout) %> |
  <%= link_to 'Back', workouts_path %>
</div>